doctype html
html
    head
        title=title
        link(rel="stylesheet" href="dist/main.css")
    body
        include presets.pug
        each jsFile in jsImports
            script(src=jsFile)
        script(src=mainjs)